@import '../themes/colors';

.wrapper-about {
  width: $width_main_block;
  margin: auto;
  padding: 0 15px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about-product {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
}

.wrapper-description-product {
  display: none;
}
.active-block {
  display: block;
}

.breadcrumbs {
  .breadcrumbs__item {
    display: inline-block;
    font-family: $Roboto;
    font-size: 14px;
    &:last-child {
      .fa-angle-right {
        display: none;
      }
      .breadcrumbs__text {
        pointer-events: none;
      }
    }
    .breadcrumbs__text {
      color: $light-granit;
      &:hover {
        text-decoration: underline;
        text-decoration-color: $dark-granit;
        color: $dark-granit;
        &:last-child {
          text-decoration: none;
          color: $light-granit;
        }
      }
    }
    .fa-angle-right {
      color: $light-granit;
      padding: 0 4px;
    }
    .fa-home {
      color: $dark-granit;
    }
  }
}

.title-product {
  font-family: $Roboto;
  font-weight: 900;
  padding-top: 16px;
  font-size: 36px;
}

.wrapper-slider {
  width: 600px;
}

.description {
  font-family: $Arial;
  .description__text {
    max-width: 530px;
    font-size: 14px;
    line-height: 21px;
    color: $dark-grey;
    margin-top: -6px;
  }
  .description__text.next {
    margin-top: 20px;
  }
  .description__price {
    margin-top: 32px;
    .description__text-price {
      color: $dark-granit;
      font-size: 14px;
      text-transform: uppercase;
      padding-right: 3px;
    }
    .description__number-price {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.01em;
      color: $dark-font-color;
    }
  }
}

.video-wrapper {
  padding-top: 82px;
  max-width: 860px;
}
