.catalog-wrapper {
  padding-bottom: 52px;
  margin: auto;
  .catalog {
    width: 100%;
  }
}
.wrapper_blocks {
  display: flex;
}

.block_item {
  max-width: 240px;
  font-family: 'Roboto', sans-serif;
  flex: 2;
  .block_item__about {
    display: block;
    .block_item__name {
      display: block;
      text-decoration: none;
      color: $font-color;
      font-size: 14px;
      line-height: 1.1;
      padding-top: 9px;
      transition: color 0.5s;
      &:hover {
        color: $orange;
      }
    }
    .block_item__price {
      font-weight: 900;
      color: $font-color;
      font-size: 18px;
      line-height: 1.3;
    }
  }
  .block_item__line {
    position: absolute;
  }
}

.left-block {
  padding-top: 2px;
  .block_item {
    position: relative;
    vertical-align: top;
    min-width: 240px;
    &:nth-child(1) {
      .block_item__line {
        top: 118px;
        right: -189px;
      }
    }
    &:nth-child(2) {
      .block_item__line {
        top: 50px;
        right: -88px;
      }
    }
  }
}
.right-block {
  .block_item {
    position: relative;
    min-width: 240px;
    .block_item__about {
      padding-left: 42px;
    }
    &:nth-child(1) {
      .block_item__line {
        top: 51px;
        left: -152px;
      }
    }
    &:nth-child(2) {
      .block_item__line {
        top: 105px;
        left: -159px;
      }
    }
  }
}
.bottom-block {
  display: flex;
  justify-content: space-between;
  .bottom-left {
    .block_item {
      position: relative;
      &:nth-child(1) {
        .block_item__line {
          top: -145px;
          right: -95px;
        }
      }
      &:nth-child(2) {
        .block_item__line {
          top: -87px;
          right: 20px;
        }
      }
    }
  }
  .bottom-right {
    .block_item {
      position: relative;
      &:nth-child(1) {
        .block_item__line {
          top: -45px;
          left: 80px;
        }
      }
      &:nth-child(2) {
        .block_item__line {
          top: -100px;
          left: -166px;
        }
      }
    }
  }
}

.left-block, .right-block {
  .block_item {
    margin-top: 40px;
    display: block;
  }
}

.bottom-block {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  .wrapper-block_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 50%;
  }
  .block_item {
    vertical-align: top;
    list-style: none;
    display: inline-block;
    min-width: 240px;
  }
}

.basis-block {
  margin-top: 40px;
  text-align: center;
  flex: 1;
  .basis-block__about {
    display: block;
    padding: 12px 14px;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    background: #ff4c0e;
    width: max-content;
    position: relative;
    margin: auto;
    top: 7px;
    right: 25px;
    &:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 0px;
      border-top: 50px solid $granit;
      border-right: 12px solid transparent;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0px;
      right: 0;
      border-bottom: 51px solid $granit;
      border-left: 6px solid transparent;
    }
    .basis-block__fond {
      position: absolute;
      bottom: -26px;
      right: 6px;
    }
  }

  .basis-block__img {
    position: relative;
    top: 20px;
    left: -43px;
    z-index: 2;
  }
}

@media (max-width: 750px) {
  .basis-block {
    .basis-block__about {
      font-size: 16px;
      right: 0;
    }
    .basis-block__img {
      top: 26px;
      left: 0;
    }
  }
}

@media (max-width: 1000px) {
  .wrapper_blocks {
    flex-direction: column;
  }
  .left-block, .right-block, .bottom-block {
    text-align: center;
    .block_item {
      display: inline-block;
    }
  }
  .left-block {
    order: 1;
  }
  .right-block {
    order: 2;
    .block_item {
      div.block_item__about {
        padding-left: 0;
      }
    }
  }
  .bottom-block {
    flex-direction: column;
    align-items: center;
    .block_item {
      margin-top: 40px;
    }
  }
  .block_item__line {
    display: none;
  }
  .bottom-block {
    justify-content: center;
    .wrapper-block_item {
      justify-content: center;
      width: auto;
    }
  }
}



