
footer {
  background-color: $footer-color;
  .footer {
    margin: auto;
    max-width: $width_main_block;
    padding: 57px 15px 50px 15px;
    font-family: Arial, 'sans-serif';
    display: flex;
    justify-content: space-between;
  }
}

.copyright {
    font-size: 13px;
    line-height: 1.5;
    color: $dark-grey;
    max-width: 270px;
    display: inline-block;
}
.phone {
  color: $dark-grey;
  display: block;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  transition: color 0.5s;
  .phone__link {
    color: $dark-grey;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-top: 6px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.company {
  margin-top: 3px;
  .company__link {
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 13px;
    line-height: 1.5;
    color: $dark-grey;
    text-align: right;
    &:hover {
      opacity: 0.8;
    }
    span {
      max-width: 160px;
      display: inline-block;
    }
    .company__img {
      margin-left: 15px;
    }
  }
}


@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    text-align: center;
    .copyright {
      max-width: none;
    }
    .phone {
      margin-left: 0;
      margin-top: 30px;
    }
    .company {
      margin-top: 30px;
      .company__link {
        text-align: center;
      }
    }
  }
}

