
.footer-wrapper {
  background-color: $footer-color;
  .footer {
    margin: auto;
    max-width: $width_main_block;
    padding: 57px 15px 50px 15px;
    font-family: Arial, 'sans-serif';
    display: flex;
    justify-content: space-between;
  }
}

.about {
  .about__text {
    font-size: 13px;
    line-height: 20px;
    color: $dark-grey;
    max-width: 270px;
    display: inline-block;
  }
}
.phone {
  color: $dark-grey;
  .phone__text {
    display: block;
    color: $dark-grey;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    transition: color 0.5s;
  }
  .phone-number {
    color: $dark-grey;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    opacity: 1;
    transition: opacity 0.5s;
  }
}
.link-phone {
  &:hover {
    .phone-number {
      opacity: 0.8;
    }
  }
}

.company {
  margin-top: 3px;
  .company__info {
    opacity: 1;
    transition: opacity 0.5s;
  }
  .company__text {
    font-size: 13px;
    line-height: 20px;
    color: $dark-grey;
    display: inline-block;
    text-align: right;
    max-width: 160px;
  }
  .company__img {
    display: inline-block;
    margin-left: 15px;
  }
  .link-company {
    &:hover {
      .company__info {
        opacity: 0.8;
      }
    }
  }
}


@media (min-width: 300px) {
  .footer {
    flex-direction: column;
    text-align: center;
    .phone {
      margin-left: 0;
      margin-top: 30px;
    }
    .company {
      margin-top: 30px;
      .company__text {
        text-align: center;
      }
      .company__img {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 900px) {
  .footer {
    flex-direction: row;
    text-align: auto;
    .phone {
      margin-top: -3px;
      margin-left: -47px;
    }
    .company {
      margin-top: 3px;
      .company__text {
        text-align: auto;
      }
      .company__img {
        margin-left: 15px;
      }
    }
  }
}

@media (min-width: 300px) {}
