html,
body {
  height: 100%;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  padding-top: $header_height;
  flex: 1;
  background-color: $granit;
}
.limit {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-family: $Roboto;
  font-weight: 900;
  padding-top: 16px;
  font-size: 36px;
}

.fa-rub {
  padding-left: 6px;
}
