@import '../themes/colors';

.header-wrapper {
  background-color: $dark;
  position: fixed;
  z-index: 1;
  width: 100%;
  .header {
    max-width: $width_main_block;
    padding: 0 15px;
    height: $header_height;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  display: inline-block;
  cursor: pointer;
}

.header__nav {
  font-family: $Roboto;
  display: inline-block;
  li {
    font-size: 14px;
    color: $light;
    cursor: pointer;
    display: inline-block;
    padding: 32px 17px;
    position: relative;
    background: transparent;
    transition: background 0.5s;
    > &:nth-child(1) {
      padding: 32px 11px;
    }
    > &:last-child {
      padding: 32px 8px;
    }
    a {
      color: $light;
      padding-bottom: 10px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.5s;
    }
    span {
      padding-bottom: 10px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.5s;
    }
    &:hover {
      background: repeating-linear-gradient(
          -45deg,
          $gradient-row,
          $gradient-row 3px,
          $gradient-background 3px,
          $gradient-background 4px
      );
      > a, span {
        border-bottom: 2px solid $light-orange;
      }
      .header__nav-items {
        display: inline-block;
      }
    }
  }
}

.header__nav-items {
  display: none;
  position: absolute;
  top: $header_height;
  left: 0;
  padding: 14px 60px 15px 18px;
  background: repeating-linear-gradient(
      -45deg,
      $gradient-row,
      $gradient-row 3px,
      $gradient-background 3px,
      $gradient-background 4px
  );
  li {
    font-size: 12px;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    &:hover {
      a {
        border-bottom: none;
      }
    }
    a {
      color: $light-grey;
      transition: color 0.5s;
      &:hover {
        color: $orange;
        border-bottom: none;
      }
    }
  }
}
