@import '../themes/colors';

.header {
  background-color: $dark;
  position: fixed;
  z-index: 15;
  width: 100%;
  .header-wrapper {
    height: $header_height;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.header__logo {
  display: inline-block;
  cursor: pointer;
}

#menu {
  display: none;
  cursor: pointer;
}

.header__nav {
  font-family: $Roboto;
  display: inline-flex;
  align-items: stretch;
  height: 100%;
  .fa-angle-down {
    padding-left: 4px;
    vertical-align: top;
  }
  li {
    font-size: 14px;
    color: $light;
    cursor: pointer;
    display: inline-block;
    padding: 32px 17px;
    position: relative;
    background: transparent;
    transition: background $time;
    > &:nth-child(1) {
      padding: 32px 11px;
    }
    > &:last-child {
      padding: 32px 8px;
    }
    a {
      color: $light;
      padding-bottom: 10px;
      border-bottom: 2px solid transparent;
      transition: border-bottom $time;
      vertical-align: top;
    }
    &:hover {
      background: repeating-linear-gradient(
          -45deg,
          $gradient-row,
          $gradient-row 3px,
          $gradient-background 3px,
          $gradient-background 4px
      );
      > a, span {
        border-bottom: 2px solid $light-orange;
      }
      .header__nav-items {
        display: inline-block;
      }
    }
  }
}

.header__nav-items {
  display: none;
  position: absolute;
  max-width: 500px;
  top: 80px;
  left: 0;
  padding: 14px 60px 15px 18px;
  cursor: default;
  background: repeating-linear-gradient(
      -45deg,
      $gradient-row,
      $gradient-row 3px,
      $gradient-background 3px,
      $gradient-background 4px
  );
  li {
    font-size: 12px;
    padding: 10px 0;
    cursor: default;
    display: block;
    text-transform: uppercase;
    min-width: 375px;
    &:hover {
      a {
        border-bottom: none;
      }
    }
    a {
      color: $light-grey;
      transition: color $time;
      &:hover {
        color: $orange;
        border-bottom: none;
      }
    }
  }
}

.header-phone {
  font-family: $Roboto;
  font-weight: 500;
  font-size: 18px;
  color: $light;
  cursor: pointer;
  text-shadow: 1px 1px transparent;
  transition: text-shadow $time;
  &:hover {
    text-shadow: 1px 1px rgba(255,255,255,0.4);
  }
  .fa-phone {
    padding-right: 3px;
  }
}

.line-wrapp {
  width: 18px;
  height: 12px;
  margin: 0 20px;
  transition: all $time ease-in-out;
  .line{
    width: 18px;
    height: 2px;
    background-color: #fff;
    transition: all $time ease-in-out;
  }
  .line.center{
    margin: 3px 0;
  }
}
.active-menu.line-wrapp{
  transform: rotate(180deg);
}

.active-menu {
  .line.top {
    width: 12px;
    transform: translateX(-1px) translateY(1px) rotate(-45deg);
  }
  .line.bottom {
    width: 12px;
    transform: translateX(-1px) translateY(-1px) rotate(45deg);
  }
}

@media (max-width: 750px) {
  .header {
    .header-wrapper {
      position: relative;
    }
  }
  .header__logo {
    width: 155px;
  }
  .header__nav {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: $dark;
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: auto;
    li {
      display: block;
      white-space: normal;
      overflow: hidden;
      &:nth-child(2) {
        max-width: 100%;
        overflow: hidden;
      }
    }
  }
  .header__nav-items {
    position: static;
    margin-top: 12px;
    padding-left: 0;
    li {
      line-height: 1.4;
      min-width: 300px;
    }
  }
  .header-phone {
    display: none;
    position: absolute;
    top: 26px;
    left: 15px;
    background: #282828;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  #menu {
    display: block;
    z-index: 2;
  }
}

@media (min-width: 751px) and (max-width: 900px) {
  .header {
    .header-wrapper {
      justify-content: center;
      height: auto;
      padding-top: 25px;
      align-items: center;
    }
  }
  .header__logo {
    margin-right: 40px;
    width: auto;
    order: 1;
  }
  nav {
    order: 3;
  }
  .header__nav {
    display: inline-block;
    position: static;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
    overflow: visible;
    li {
      display: inline-block;
      &:nth-child(2) {
        overflow: visible;
      }
    }
  }
  .header__nav-items {
    position: absolute;
  }
  .header-phone {
    order: 2;
  }
  div.main {
    padding-top: 146px;
  }
}

@media (min-width: 1000px) {
  .header {
    .header-wrapper {
      justify-content: space-between;
      height: $header_height;
    }
  }
  .header__logo {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
