.wrapper-slider {
  position: relative;
}

div.pgwSlider {
  .ps-current {
    width: 79%;
  }
  ul {
    width: 20%;
  }
}

.pgwSlider{
  position: relative;
  .ps-current {
    overflow: visible;
    .ps-prev {
      position: absolute;
      top: 0;
      right: -127px;
      width: 121px;
      left: auto;
      z-index: 5;
      display: flex;
      justify-content: center;
      padding: 0px;
      background: $dark-black;
      border: none;
      border-radius: 0;
      &:before {
        content: "\f106";
        color: white;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 23px;
      }
      .ps-prevIcon {
        display: none;
      }
    }
    .ps-next {
      position: absolute;
      bottom: 0;
      right: -127px;
      width: 121px;
      top: auto;
      z-index: 5;
      display: flex;
      justify-content: center;
      padding: 0px;
      background: $dark-black;
      border: none;
      border-radius: 0;
      &:before {
        content: "\f107";
        color: white;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 23px;
      }
      .ps-nextIcon {
        display: none;
      }
    }
  }
}

