@import '../../themes/colors';

.wrapper-about {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about-product {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
}

.tabs__content {
  display: none;
}
.active-block {
  display: block;
}

.breadcrumbs {
  .breadcrumbs__item {
    display: inline-block;
    font-family: $Roboto;
    font-size: 14px;
    &:last-child {
      .fa-angle-right {
        display: none;
      }
      .breadcrumbs__text {
        pointer-events: none;
      }
    }
    .breadcrumbs__text {
      color: $light-granit;
      transition: color $time;
      &:hover {
        text-decoration: underline;
        color: $dark-granit;
        &:last-child {
          text-decoration: none;
          color: $light-granit;
        }
      }
    }
    .fa-angle-right {
      color: $light-granit;
      padding: 0 4px;
    }
    .fa-home {
      color: $dark-granit;
    }
  }
}

.wrapper-slider {
  width: 610px;
  padding-right: 20px;
}
#demowrap {
  width: 610px;
}

.description {
  font-family: $Arial;
  max-width: 530px;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-grey;
  margin-top: -6px;
  p, span {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.description__info {
  width: 100%;
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  padding-top: 20px;
}

.description__price {
  color: $dark-granit;
  font-size: 14px;
  text-transform: uppercase;
  display: table;
  text-align: center;
}

.description__price-value {
  display: block;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: $dark-font-color;
}
.description__connection {
  display: table;
  padding: 10px 15px 0 15px;
}

.description__button {
  display: block;
  width: 220px;
  height: 36px;
  border: none;
  outline: none;
  background-color: $new-orange;
  border-radius: 1px;
  font-size: 14px;
  color: $light;
  text-transform: uppercase;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color $time;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background-color: $hover-orange;
  }
}

.video {
  padding-top: 82px;
  max-width: 860px;
}

iframe {
  width: 100%;
  height: 512px;
}

@media (max-width: 1000px) {
  .about-product {
    flex-direction: column;
    justify-content: center;
  }
  .about-product {
    padding-bottom: 0;
  }
  .wrapper-slider {
    margin: auto;
    padding-right: 0;
  }
  .description {
    padding-top: 20px;
    margin: auto;
    max-width: none;
  }
}

@media (max-width: 750px) {
  div#thumbnail-slider {
    display: none;
  }
  div#ninja-slider {
    margin: 0;
  }
  .description {
    margin: 0;
    padding-left: 0;
  }
  .description__price-value {
    font-size: 30px;
  }
  .wrapper-slider {
    width: 490px;
  }
  iframe {
    height: 350px;
  }
}

@media (max-width: 500px) {
  div#ninja-slider, div#demowrap {
    width: 370px;
  }
  .wrapper-slider {
    width: 370px;
  }
  .description__price-value {
    font-size: 28px;
  }
  iframe {
    height: 240px;
  }
}

@media (max-width: 400px) {
  div#ninja-slider, div#demowrap {
    width: 290px;
  }
  .wrapper-slider {
    width: 290px;
  }
  iframe {
    height: 240px;
  }

}
