.table-wrapper {
  padding-top: 16px;
}

.table {
  width: 100%;
  font-size: 14px;
  .table__row {
    &:nth-child(odd) {
      background-color: $light;
    }
    &:nth-child(even) {
      background-color: $white-to-grey;
    }
    .table__line-name, .table__line-model {
      font-size: 15px;
      padding: 10px 18px;
    }
    .table__line-name{
      max-width: 586px;
    }
    .table__line-model {
      font-weight: 700;
    }
  }
}
