include ./slider_element
include ./breadcrumbs
include ./description
include ./characteristics
include ./table

mixin about-product

  .wrapper-about
    +breadCrumbs
    h2.title-product Шнекоротор
    .about-product
      .wrapper-slider
        +slider-element
      .description
        +description-element
    .characteristics
      +characteristics-element
    div(class='wrapper-description-product active-block', id='table')
      p.product__text Автоцистерна АТЗ-46681F-17 предназначена для
        | транспортировки, временного хранения и дозированной
        | заправки светлых нефтепродуктов плотностью не более
        | 860 кг/м3.
      .table-wrapper
        +table-element
    div(class='wrapper-description-product', id='descr')
      p(class='product__text') Автоцистерна АТЗ-46681F-17 предназначена для
        | транспортировки, временного хранения и дозированной
        | заправки светлых нефтепродуктов плотностью не более
        | 860 кг/м3.
        | В доставке горючего транспортной компании для
        | построения оптимальной логистической цепочки важно
        | иметь, что называется, возможность для маневра.
        | Под этим часто понимается не только наличие у
        | перевозчика достаточного количества клиентов,
        | потребность в горючем которых имеет разную величину,
        | но и различных по типу и объему транспортных средств.
        | Однако иногда важно, чтобы транспортник имел
        | возможность резкого увеличения или, напротив,
        | уменьшения тоннажа. Здесь лучшим вариантом решения
        | задачи является применение автопоездов-бензовозов в
        | составе автоцистерны и прицепа. В отличие от тягачей
        | с цистернами-полуприцепами составные автопоезда имеют
        | одно неоспоримое пре­имущество, а именно возможность
        | отстегнуть или, напротив, прицепить «хвост» и тем
        | самым получить выигрыш в маневренности, эксплуатационных
        | затратах либо объеме перевозимых нефтепродуктов.
    .video-wrapper
      iframe(width='860' height='510'
        src='https://www.youtube.com/embed/5kGFefOe9to'
        frameborder='0' allowfullscreen)
