mixin basis-element
  .basis-block
    .basis-block__about
      .left
      .right
      span Базовое шасси: 2 245 000 ₽
      img(src="./images/fond.png"
        class="basis-block__fond")
    a(href="#")
      img(src="./images/itemImg/basis.png"
        alt="Базовое шасси"
        class="basis-block__img")


