mixin breadCrumbs

  -
    var breadCrumbsItem = ["Оборудование", "Шнекоротор"];

  ul.breadcrumbs
    li.breadcrumbs__item
      a(href="#")
        i(class="fa fa-home" aria-hidden="true")
      i(class="fa fa-angle-right" aria-hidden="true")
    each item in breadCrumbsItem
      li.breadcrumbs__item
        a(href="#" class="breadcrumbs__text")= item
        i(class="fa fa-angle-right" aria-hidden="true")
