mixin description-element

  p.description__text Распределитель SOLID XM используется
    | для устранения обледенения или его предотвращения
    | путем посыпания городских дорог, площадей, пешеходных
    | дорожек, автостоянок и других мест, недоступных для
    | больших машин коммунальных служб, используемых в
    | зимний период. В качестве посыпного материала SOLID XM
    | может использовать соль, песок или каменные гранулы.
    | В случае системы влажного посыпания сухой материал
    | может быть смешан с растворами хлорида для повышения
    | эффективности посыпания.
    br
    br
    | Шнековая конвейерная система обеспечивает
    | постоянную подачу материала в распределительную
    | систему распределителя, за счет чего достигается
    | точность посыпания. Лопасти на конце шнекового
    | транспортера предотвращают падение кускового материала
    | на распределительную пластину и обеспечивают
    | равномерную дозировку посыпного материала.
  .description__price
    span.description__text-price цена:
    span.description__number-price 12 640 000 ₽
