mixin footer
  .footer-wrapper
    .footer
      .about
        span.about__text © 2013‒2016, Производство и продажа
          |  автофургонов различного назначения
      .phone
        p.phone__text Телефон в Москве
        span.phone-number +7 (499) 506-94-71
      .company
        span.company__text Создание сайтов компания «ВладВеб»
        img(src="./images/footer_img.png" class="company__img")
