$dark: #282828;
$light: #eeeeee;
$footer-color: #cccccc;
$light-grey: #d3d3d3;
$orange: #e13e0e;
$hover-orange: #ef4a11;
$light-orange: #ff4c0e;
$new-orange: #d74200;
$yellow: #f68933;
$gradient-background: #343434;
$gradient-row: #2e2e2e;
$granit: #f3f3f3;
$font-color: #222222;
$white: #fff;
$dark-grey: #444444;
$light-granit: #999999;
$dark-granit: #666666;
$dark-font-color: #333333;
$light-font-color: #555555;
$black: #111111;
$white-to-grey: #f7f7f7;
$dark-black: #282828;

$header_height: 81px;
$Roboto: 'Roboto', sans-serif;
$Arial: 'Arial', sans-serif;
$time: 0.5s;
