//- JavaScript
case env
  when "dev"
    script(src="/vendors/bundle.js")
    script(src="/scripts/main.js")

  when "stage"
  when "prod"
    script(src="/Tech-online-store/build/vendors/bundle.min.js")
    script(src="/Tech-online-store/build/scripts/main.min.js")

