extends ../extends/layout
include ../object/header
include ../object/catalog
include ../object/footer


block content
  .content
    +header
    .main
      .catalog-wrapper.limit
        .catalog
          +catalog-element
    +footer

