extends ../extends/layout
include ../object/header
include ../object/index/catalog
include ../object/footer
include ../object/presentation/presentation


block content
  .content
    +header
    .main
      .catalog-wrapper.limit
        .catalog
          +catalog-element
    +footer

