extends /extends/layout
include /mixins/header
include /mixins/catalog
include /mixins/footer


block content
  .content
    +header
    .main
      .catalog-wrapper.limit
        .catalog
          +catalog-element
    +footer

