extends /extends/layout
include /mixins/header
include /mixins/items
include /mixins/footer


block content
  .content
    +header
    .main
      .items-wrapper
        .items
          +items-element
    +footer

