mixin decision-element

  .decision
    .main__description.decision__description
      span.main__description-category УМНЫЕ ТЕХНИЧЕСКИЕ РЕШЕНИЯ
      h3.main__description-title Преимущества самоходной машины MUVO
      p.main__description-text.
        Специалисты Rasco воплотили в MUVO технические решения, обеспечивающие
        надежность работы, простоту в обслуживании и эффективное использование
        приводного агрегата. Высококачественные компоненты от проверенных поставщиков,
        собранные, установленные и подключенные с использованием знаний и опыта
        специалистов RASCO, делают MUVO коммунальной самоходной машиной, которая
        может выполнить все работы по коммунальному обслуживанию городских районов.
    .context__block.context__block-left
      .context__block-item
        img(src='./images/decision/Layer1.png' class="context__block-img")
        .context__text
          h4 ПОПЕРЕЧНО РАСПОЛОЖЕННЫЙ ДВИГАТЕЛЬ
          span.
            Двигатель самоходной машины MUVO расположен с правой стороны вдоль передней
            оси диагонально на шасси. Помимо обеспечения оптимального распределения
            нагрузки и низкого центра тяжести, такое расположение обеспечивает легкий
            доступ к ключевым узлам двигателя, что делает регулярное техническое
            обслуживание и ремонт быстрым и легким.
        .context__text
          h4 ОПТИМАЛЬНАЯ КОНСТРУКЦИЯ ГИДРАВЛИЧЕСКОЙ СИСТЕМЫ
          span.
            Гидравлическая система самоходной машины MUVO разработана таким образом, чтобы
            обеспечить необходимую мощность для приведения в действие большинства навесных
            приспособлений MUVO и оптимальный режим работы двигателя, благодаря чему
            экономится топливо и снижается количество выбросов. Это решение особенно
            заметно при использовании подметально-уборочного оборудования, когда достигается
            значение наибольшей эффективности расхода топлива двигателем во время использовании
            максимальной мощности всасывания подметально-уборочным оборудованием.
      .context__block-item
        img(src='./images/decision/Layer2.png' class="context__block-img")
        .context__text
          h4 РАСПОЛОЖЕННЫЙ ПО ЦЕНТРУ ВСАСЫВАЮЩИЙ ШЛАНГ
          span.
            Всасывающий шланг, который соединяет переднее навесное оборудование с контейнером
            подметально-уборочного оборудования, расположен по центру относительно шасси
            самоходной машины, чтобы оптимизировать качество всасывания. Сочетание расположенного
            по центру всасывающего шланга и диагонально размещенного двигателя делает MUVO
            уникальной небольшой коммунальной
    .context__block.context__block-right
      .context__block-item
        img(src='./images/decision/Layer3.png' class="context__block-img")
        .context__text.context__text-accented
          h4 АВТОМАТИЧЕСКОЕ УПРАВЛЕНИЕ КЛЮЧЕВЫМИ СИСТЕМАМИ
          span.
            Встроенная электронная система автоматически регулирует работу ключевых систем самоходной
            машины MUVO с целью повышения безопасности эксплуатации и продления срока службы. Система
            охлаждения автоматически регулирует температуру двигателя и масла, привод на все четыре колеса
            отключается на более высоких скоростях, также привод на все четыре колеса не может быть
            использован в транспортном режиме.
      .context__block-item
        img(src='./images/decision/Layer4.png' class="context__block-img")
        .context__text
          h4 ДВУХСТУПЕНЧАТАЯ МЕХАНИЧЕСКАЯ КОРОБКА ПЕРЕДАЧ
          span.
            Наряду с возможностью использования рабочейи транспортной скоростей гидростатического привода
            MUVO имеет и двухскоростную механическую коробку передач. Сочетание гидростатического привода
            и механической коробки передач обеспечивает в общей сложности четыре скорости для движения
            вперед и две скорости для движения задним ходом. Такое решение позволяет не только использовать
            очень медленную скорость для работы со снежной фрезой, мульчером и косилкой, но и двигаться в
            гору при полной нагрузке
