mixin dignity-element

  .dignity
    .dignity-section-wrapper
      .dignity__section
        img(src='./images/dignity/Shape9.png' class="dignity__section-img")
        .dignity__section-info
          h3.dignity__section-title РАБОТА В ЗИМНИЙ ПЕРИОД
          span.dignity__section-description.
            Выполняет задачи коммунального обслуживания в зимний период
          p.dignity__section-text.
            В зимний период MUVO является надежным помощником
            в очистке от снега и льда пешеходных и велосипедных
            дорожек, городских площадей и узких переулков. Сочетание
            снежного плуга BILO M, плуга с изменяемой геометрией
            VERTUS М или снежной фрезы с распределителем SOLID XM
            обеспечивает эффективное, безопасное и легкое удаление
            снега и льда с небольших городских территорий.
      .dignity__section
        img(src='./images/dignity/Shape10.png' class="dignity__section-img")
        .dignity__section-info
          h3.dignity__section-title ПРОВОРНЫЙ САДОВНИК
          span.dignity__section-description.
            Ухаживает за растительностью вдоль дорог, в парках, садах и виноградниках
          p.dignity__section-text.
            Используя переднюю косилку с горизонтальными ротационными ножами
            или переднюю манипуляторную косилку, вы превратите MUVO в
            прекрасного садовника. Контейнер подметально-уборочного
            оборудования SX2 может быть использован для всасывания
            кошенной травы с передней косилки, а благодаря манипуляторной
            косилке скашивание труднодоступной растительности вдоль
            дорог больше не проблема. Для приведения в порядок заросших
            участков MUVO может быть оборудован мульчером-измельчителем,
            а для ухода за цветами и растениями на клумбах— набором
            приспособлений для полива.
    .dignity-section-wrapper
      .dignity__section
        img(src='./images/dignity/Shape11.png' class="dignity__section-img")
        .dignity__section-info
          h3.dignity__section-title ГОРОДСКОЙ УБОРЩИК
          span.dignity__section-description.
            Очищает дороги, парки и площади
          p.dignity__section-text.
            Подметально-уборочное оборудование SX2 в сочетании с двумя или
            тремя щетками в течение весенних, летних и осенних месяцев превращает
            MUVO в высокоэффективного городского уборщика. Вместимости
            подметально-уборочного оборудования, составляющей почти 2 м3,
            достаточно для уборки остаточных камней после зимнего обслуживания,
            песка, листьев и мусора с городских улиц. Простое преобразование
            контейнера подметально-уборочного оборудования в резервуар для воды
            превращает MUVO из уборщика в мойщика городских пространств,
            тротуаров и подземных гаражей.
      .dignity__section
        img(src='./images/dignity/Shape12.png' class="dignity__section-img")
        .dignity__section-info
          h3.dignity__section-title НЕЗАМЕНИМЫЙ ПОМОЩНИК
          span.dignity__section-description.
            Всегда наготове
          p.dignity__section-text.
            Сбор мусора, высотные работы, перевозка грузов (мусора и
            убранной грязи), прочистка водостоков и все другие виды
            работ, которые вы только можете представить, — MUVO
            справится со всей работой. Оснащенный соответствующим
            оборудованием коммунальная машина MUVO всегда
            готова к выполнению любой задачи, которую вы можете
            перед ней поставить
