mixin maneuverability-element

  .maneuverability
    .main__description.maneuverability__description
      span.main__description-category МАНЕВРЕННОСТЬ
      h3.main__description-title.
        Привод и управление разработаны с учетом широкого спектра применения
      p.main__description-text.
        Благодаря компактным габаритам самоходная машина MUVO приспособлена для
        работы в узких и ограниченных пространствах, но также прекрасно чувствует
        себя на открытом пространстве.Неровности и склоны также не являются для
        нее проблемой благодаря конструкции привода и системы управления,
        адаптированной к любым условиям эксплуатации.
    .context__block.context__block-left
      .context__block-item
        img(src='./images/maneuverability/Layer6.png' class="context__block-img unicual")
        img(src='./images/maneuverability/Layer7.png' class="context__block-img")
        .context__text
          h4 УПРАВЛЕНИЕ
          span.
            Для управления самоходной машиной MUVO используется система сервопривода с
            цилиндрами на всех четырех колесах. Такая система управления делает возможным
            управление только передними колесами, управление всеми четырьмя колесами (4WS)
            и диагональное управление для облегчения доступа к углам. Система безопасности,
            которой оснащен центральный компьютер самоходной машины, делает невозможным
            использование режима работы, который при более высоких скоростях может привести
            к нестабильности самоходной машины.
      .context__block-item
        img(src='./images/maneuverability/Layer5.png' class="context__block-img")
        .context__text
          h4 ПРИВОД НА ВСЕ ЧЕТЫРЕ КОЛЕСА
          span.
            У MUVO в нормальных условиях эксплуатации привод на заднюю ось. Для езды по
            скользкой и сложной местности и для достижения максимального крутящего
            момент можно включить привод на все колеса (4WD).
    .context__block.context__block-right
      .context__block-item
        img(src='./images/maneuverability/Layer8.png' class="context__block-img")
        .context__text
          h4 ГИДРОСТАТИЧЕСКИЙ ПРИВОД
          span.
            Гидростатический привод обеспечивает быстрый отклик и позволяет поддерживать
            постоянную скорость при разной рабочей нагрузке и точно регулировать скорость
            движения. MUVO работает в двух режимах — транспортном и рабочем, которые
            можно изменять при наличии нагрузки и без остановки самоходной машины.
            Транспортный режим делает возможным быстрое перемещение между двумя местами
            работы, в то время как рабочий режим позволяет использовать устройства,
            которые требуют крайне низкой скорости и высокой мощности.
        .context__text
          h4 ТОРМОЗНАЯ СИСТЕМА
          span.
            Тормозная система с дисками на всех четырех колесах и двухступенчатым усилителем
            тормозов эффективно останавливает MUVO. Торможению способствует и гидростатический
            привод самоходной машины, а механический или электрический стояночный тормоз
            способен удерживать MUVO на месте и при полной нагрузке.
      .context__block-item
        img(src='./images/maneuverability/Layer9.png' class="context__block-img")
        .context__text.context__text-accented
          h4 РАЗМЕРЫ САМОХОДНОЙ МАШИНЫ
          span.
            Небольшие размеры позволяют использовать MUVOв узких и ограниченных пространствах
            и в сочетании с современной системой управления обеспечивают минимальный радиус поворота MUVO,
            что обуславливает отличную  маневренность.
