mixin platform-element

  .platform
    .main__description.workplace__description
      span.main__description-category УНИКАЛЬНАЯ НАВЕСНАЯ ПЛАТФОРМА
      h3.main__description-title Надежность и мощность в компактном корпусе
      p.main__description-text.
        Несмотря на свои небольшие размеры, MUVO является мощной самоходной машиной с большой
        грузоподъемностью, разработанной для длительной эксплуатации при полной нагрузке.
        Выбор приводного агрегата, конструкция коммунального многофункционального шасси
        самоходной машины и гидравлической системы позволяют этой небольшой многофункциональной
        самоходной машиневыполнять широкий спектр работ.
    .context__block.context__block-left
      .context__block-item
        img(src='./images/platform/Layer13.png' class="context__block-img")
        .context__text
          h4 ПРИВОДНОЙ АГРЕГАТ
          span.
            Мощный турбодизельный двигатель, расположенный перпендикулярно шасси самоходной машины,
            является движущей силой для всех систем самоходной машины MUVO. С системой подавления
            вибраций и электронным контролем количества оборотов езда на самоходной машине MUVO и
            управление ей становятся комфортными и легкими. Приводной агрегат соответствует стандартам
            ЕURO, что обеспечивает высокий уровень безопасности для окружающей среды за счет минимизации
            выбросов вредных выхлопных газов.
        img(src='./images/platform/Layer14.png' class="context__block-img unicual")
      .context__block-item
        img(src='./images/platform/Layer15.png' class="context__block-img")
    .context__block.context__block-right
      .context__block-item
        img(src='./images/platform/Layer16.png' class="context__block-img")
        .context__text.context__text-accented
          h4 ШАССИ И ХОДОВАЯ ЧАСТЬ
          span.
            Многофункциональное коммунальное шасси самоходной машины MUVO выполнено из высококачественной
            стали и разработано таким образом, чтобы сделать возможным  размещение по центру всасывающего
            шланга, который необходим для вакуумного пылесоса и передней косилки. За счет подвески
            грузоподъемностью 2800 кг на ось, низкого центра тяжести и оптимального распределения
            нагрузки между передней и задней осями самоходная машина MUVO очень хорошо приспособлена для
            установки большого количества различных навесных приспособлений.
        img(src='./images/platform/Layer17.png' class="context__block-img")
      .context__block-item
        .context__text.first-text-block
          h4 ГИДРАВЛИЧЕСКАЯ СИСТЕМА
          span.
            Двухконтурная рабочая гидравлика на передней и задней частях самоходной машины дает возможность
            приводить в действие большое количество навесных приспособлений MUVO. Снижение нагрузки на переднюю
            монтажную плиту позволяет точно отрегулировать давление переднего оборудования на поверхность,
            за счет чего экономится топливо, облегчается управление самоходной машиной и увеличивается срок
            службы оборудования. Электронная регулировка рабочих  параметров гидравлической системы
            осуществляется из кабины самоходной машины. Мощная система охлаждения масла с автоматическим управлением
            обеспечивает бесперебойную работу самоходной машины даже при очень высоких температурах воздуха.
        img(src='./images/platform/Layer11.png' class="context__block-img")
        .context__text
          h4 ЗАДНЕЕ ТЯГОВО-СЦЕПНОЕ УСТРОЙСТВО
          span.
            Заднее тягово-сцепное устройство поставляется в трех вариантах (автоматическое, шаровое и VARIOBLOC)
            и позволяет подсоединять к MUVO прицеп, который повышает транспортные возможности.
