include decision
include dignity
include maneuverability
include workplace
include platform

mixin presentation-element
  .presentation
    +decision-element
    +dignity-element
    +maneuverability-element
    +workplace-element
    +platform-element
