mixin workplace-element

  .workplace
    .main__description.workplace__description
      span.main__description-category ПЕРЕДВИЖНОЕ РАБОЧЕЕ МЕСТО
      h3.main__description-title Позиция, с которой вы можете увидеть все
      p.main__description-text.
        Предназначенная для использования 24 часа в сутки/ 7 дней в неделю, 365
        дней в году, MUVO разрабатывалась как удобное передвижное рабочее место,
        где обеспечивается комфорт для водителя и легкость управления машиной и
        навесным оборудованием. Положение сиденья, большая поверхность стекол,
        кондиционер, обогрев передних стекол и сложные, но легкие в использовании
        технологические решения с размещенной по центру панелью управления делают
        возможным безопасное и комфортное многочасовое применение MUVO в самых
        тяжелых условиях эксплуатации.
    .context__block.context__block-left
      .context__block-item
        img(src='./images/workplace/Layer10.png' class="context__block-img")
        .context__text
          h4 ОБЗОР
          span.
            Легкий доступ в кабину, панорамное ветровое стекло с подогревом, двери, полностью
            выполненные из стекла, а также боковые зеркала с подогревом обеспечивают хороший
            обзор и безопасность управления работой навесного оборудования впереди, над и под кабиной.
      .context__block-item
        img(src='./images/workplace/VectorSmartObject.png' class="context__block-img context__block-main-img")
        .context__text-wrapper
          .context__text
            h4 БОРТОВОЙ КОМПЬЮТЕР
            span.
              Информативный бортовой компьютер с цветным дисплеем, расположенный в центре кабины машины,
              отображает и контролирует все функции машины.Выбрав одно из четырех экранных меню, пользователь
              может получить всю информацию о характеристиках работы двигателя, гидростатического привода,
              гидравлической системы и состоянии всех важных узлов самоходной машины.
          img(src='./images/workplace/Layer12.png' class="context__block-img unicual")
          .context__text.context__text-accented
            h4 СИСТЕМА ВЕНТИЛЯЦИИ
            span.
              Встроенная система вентиляции обеспечивает оптимальный приток свежего воздуха и предотвращает
              запотевание стекол. Помимо системы отопления в комплектацию MUVO входит и климатическое
              оборудование для обеспечения максимального комфорта при использовании самоходной машины
              долгими и жаркими летними днями
    .context__block.context__block-right
      .context__block-item
        img(src='./images/workplace/Layer11.png' class="context__block-img")
        .context__text
          h4 СИДЕНЬЯ
          span.
            Сиденья оснащены механической или пневматической подвеской, позволяющей эффективно гасить вибрации,
            передаваемые водителю и пассажиру от неровностей дороги и подвески самоходной машины. Оба сиденья
            оснащены интегрированными ремнями безопасности, обеспечивающими максимальную безопасность пользователей
            самоходной машины
