mixin footer
  footer.footer
    .footer-wrapper.limit
      .copyright.
        © 2013‒2016, Производство и продажа автофургонов различного назначения
      .phone Телефон в Москве
          a(href="#" class="phone__link") +7 (499) 506-94-71
      .company
        a(href="#" class="company__link")
          span Создание сайтов компания «ВладВеб»
          img(src="./images/footer_img.png"
            alt="company"
            class="company__img")
