mixin header
  header.header
    .header-wrapper.limit
      a.header__logo
        img(src='./images/logo.png' class='header__img' alt="AvtoBau")
      nav
        ul.header__nav
          li
            a(href="#") ЗНАКОМЬТЕСЬ: MUVO
          li
            a(href="#") ОБОРУДОВАНИЕ
            ul.header__nav-items
              -
                var list = ["базовое шасси", "вакуумное подметально-уборочное приспособление",
                  "распределитель соли и песка","косилки", "снежные плуги", "шнекоротор",
                  "Переднее приспособление для мойки", "бункеровоз", "передняя щетка"]
              each item in list
                li
                  a(href="#")= item
          li
            a(href="#") ГАЛЕРЕЯ
          li
            a(href="#") КАЧЕСТВО
          li
            a(href="#") НОВОСТИ
      div(id="menu")
        div(class="line-wrapp")
          div(class="line top")
          div(class="line center")
          div(class="line bottom")

